# terragrunt gitignore
**/.*.sw?
**/.idea
**/terragrunt.iml
**/vendor
**/.terraform
**/.vscode
**/*.tfstate
**/*.tfstate.*
**/*.out
**/.terragrunt-cache
**/.bundle
**/.ruby-version
**/.terraform.lock.hcl
**/terragrunt

# bash ignore
**/.ash_history
**/.aws
**/.kube


